<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--Dao-->
    <bean id="userDao" class="com.taotao.my.shop.dao.impl.UserDaoImpl"/>


    <!--Service-->
    <bean id="userService" class="com.taotao.my.shop.service.impl.UserServiceImpl"/>


    <!--Spring-Context-->
    <bean id="springContext" class="com.taotao.my.shop.commons.context.SpringContext"/>
</beans>